@model Models.Subject

@{
    ViewData["Title"] = "Create Subject";
}

<h2>Create Subject</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Create</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
