
<div class="row mb-3">
    <h2><a href="#"><i class="bi bi-arrow-left"></i></a> Edit Category: @Model.Name</h2>
</div>

<div class="row">
    <form action="/Subject/Edit" method="post">
        <input type="hidden" class="form-control" id="subjctid" name="Id" value="@Model.Id">

        <div class="mb-3">
            <label for="CategoryName" class="form-label">Category Name</label>
            <input type="text" class="form-control" id="CategoryName" name="Name" value="@Model.Name">
           
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>